body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

canvas {
  background: #111;
  display: block;
  margin: auto;
  border: 2px solid #444;
}
